h1{
    font-size: 2.5vw;
}
h2{
    font-size: 2vw;
    
}
h3{
    font-size: 1.5vw;

}
h4{
    font-size: 1vw;

}


body{
    background:#A5D6A7;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}
.left{
    width: 20%;
    background: #1abc9c;
    border-style: 5px solid;
    border-radius: 4em;
    box-shadow: 3px 3px #E0E0E0, 0 0 1em #FFC107;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}
.right{
    width: 50%;
    background: #e53935;
    border-style: 1px solid;
    border-color: #e53935;
    border-radius: 4em;
    box-shadow: 3px 3px #E0E0E0, 0 0 1em #FFC107;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_content{

}
.left_title{
    width: 100%;
    height: max-content;
    background: #0063B1;
    border-style: 1px solid;
    border-color: #0063B1;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 0 .4em #BBDEFB;
}
.left ul{
    list-style: none;
    padding-left: 20%;
}
.left ul li:hover{
    text-shadow: 0 0 .2em #FFF59D;
    transition-delay: 0.1s;
}

.list_right{
    display: flex;
    flex-direction: row;
}
.text_body{
    margin-left: 10%;
}
.right_content{
    width: 96%;
    height: max-content;
    background: #C5CAE9;
    border-style: 1px solid;
    border-color: white;
    border-radius: 4em;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: .5%;
    box-shadow: 0 0 2em white;    
}
header{
    width: 96%;
    height: max-content;
    background: #C5CAE9;
    border-style: 1px solid;
    border-color: white;
    border-radius: 4em;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: .5%;
    box-shadow: 0 0 2em white;
}
