
body{
    background: lightgreen
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}
.left{
    width: 20%;
    background: lightseagreen;
    border-style: 5px solid;
    border-color: white;
    border-radius: 4em;
    box-shadow: 3px 3px lightgrey, -1em 0 .4em olive;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}
.right{
    width: 40%;
    background: lightskyblue;
    border-style: 1px solid;
    border-color: limegreen;
    border-radius: 4em;
    box-shadow: 3px 3px lightgrey, -1em 0 .4em olive;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_content{

}
.left_title{
    width: 100%;
    height: max-content;
    background: darkkhaki;
    border-style: 1px solid;
    border-color: darkkhaki;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 0 .4em lightsteelblue;
}
.left ul{
    list-style: none;
    padding-left: 20%;
}
.left ul li:hover{
    text-shadow: 0 0 .2em cornsilk;
    transition-delay: 0.1s;
}

.list_right{
    display: flex;
    flex-direction: row;
}
.text_body{
    margin-left: 10%;
}
.right_content{
    width: 96%;
    height: max-content;
    background: rgb(50, 200, 180);
    border-style: 1px solid;
    border-color: white;
    border-radius: 4em;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: .5%;
    box-shadow: 0 0 2em white;    
}


