@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;1,100;1,700&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi_bold{
    font-weight: 500;
    font-size: 16xp;

}

main{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}
aside{
    width: 280px;
    background: #0bb5f4;
}
.content_aside{
    width: 100%;
    height: max-content;
}
img{
    width: 100%;
    height: 100%;
}
.content_aside{
    padding: 0 25px;
}
.content_aside_summary{
    margin-bottom: 20px;
}
.bold{
    color: #fff;
}

.regular{
    color: #b1eaff
}
.resume .resume_item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child{
    border-bottom: 0px;
}
.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume .resume_left ul li:last-child{
    margin-bottom: 0px;
}
.content_aside ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

section{
    width: 520px;
    background: #fff;
    padding: 25px;

}
section .bold{
    color: #0bb5f4;
}
article ul{
    padding-left: 40px;
    overflow: hidden;
}
article ul li{
    position: relative;
}

article ul li:before,
{
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
    width: 10px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4
}
article ul li:after,
{
    content: "";
    position: absolute;
    top: 14px;
    left: -14px;
    width: 3px;
    height: 110px;
    background: #0bb5f4;

}
.aside_hobby ul{
    display: flex;
    justify-content: space-between;
}
.aside_hobby ul li{
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative
    color: #0bb50b;
}
.aside_hobby ul li i{
font-size: 30px;

}
.aside_hobby ul li:before{
    content: "";
    position: absolute;
    top: 10px;
    right: 16px;
    width: 50px;
    height: 3px;
    background: #0bb5f4;
}
.aside_hobby ul li:last-child:before{
    display: none;
}
