@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,900&display=swap');

@media all and ( min-width: 1024px )
{
body{
    background: lightgray;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #555555;
    font-family: 'Muli', sans-serif;

}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bold{
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}
.title_big{
    font-weight: 400;
    font-size: 3.75em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.semi_bold{
    font-weight: 400;
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 4em;
}

.title_medium{
    font-weight: 700;
    font-size: 1.7em;
    border-bottom: 0.1em solid #f1c40f;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.5em;
    margin-top: 0em;


}

.left{
    width: 20%;
    background: #f1c40f;
    /* border-radius: 4em; */
    /* box-shadow: 3px 3px #E0E0E0, 0 0 1em #FFC107; */
    margin: 0em;
    display: flex;
    flex-direction: column;
}
.span_color{
    color: #f1c40f;
    text-transform: uppercase;
}
.span_underline{
    text-decoration: underline;
    text-decoration-color: #f1c40f;
}
.right{
    width: 40%;
    background: #ecf0f1;
    margin: 0em;
    display: flex;
    flex-direction: column;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_hobby{

    display: flex;
    flex-wrap: wrap;

}
.left_title{
    width: 100%;
    height: max-content;
    background: #555555;
    text-align: center;
}
.left ul{
    list-style: none;
    margin-left: 1.25em;
    padding-left: 0.625em;
}
.left ul li:hover{
    text-shadow: 0 0 .2em #FFF59D;
    transition-delay: 0.1s;
}

.list_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text_body{
    padding-right: 1.25em;
    margin-top: 0em;
    margin-bottom: 1.875em;
    
}
.right_content{
    width: auto;
    height: max-content;
    background: #ecf0f1;
    text-align: left;

}
header{
    background: #ecf0f1;
    text-align: left;
}

img{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    box-shadow: 0 0 0.7em black;
}
.icon{
    color: #555555;
    margin-left: 1.3em;
    margin-bottom: 1.3em;
    font-size: 2em
}
.icon_skill{
    color: #f1c40f;
    font-size: 1em;
    padding-right: 1.5em;
}
.h5_date{
    width: 12.5em;
    margin-right: 3.125em;
    padding-right: 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.h4_title{
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 0em;
    text-transform: uppercase;
}
h5{
    margin-bottom: 0.3125em;
    margin-top: 0.3125em;
}
.dot_list{
    color: #f1c40f;
    font-size: 0.75em;
    padding-left: 0em;
    padding-top: 0.5em;
    padding-right: 0.94em;
}
.height_left_title{
    height: 25em;
}
}
@media all and ( max-width: 1024px ) and (min-width: 900px){
    body{
        background: lightgray;
        font-size: 0.7em;
        line-height: 1.1em;
        color: #555555;
        font-family: 'Muli', sans-serif;
    
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .bold{
        font-weight: 700;
        font-size: 2.1em;
        text-transform: uppercase;
    }
    .title_big{
        font-weight: 400;
        font-size: 3.1em;
        text-transform: uppercase;
        margin-bottom: 0.3em;
    }
    .semi_bold{
        font-weight: 400;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 3em;
    }
    
    .title_medium{
        font-weight: 700;
        font-size: 1.2em;
        border-bottom: 0.1em solid #f1c40f;
        margin-left: 0.9em;
        margin-right: 0.9em;
        padding-bottom: 0.4em;
        padding-top: 0.4em;
        margin-top: 0em;
    }
    
    .left{
        width: 20%;
        background: #f1c40f;
        margin: 0em;
        display: flex;
        flex-direction: column;
    }
    .span_color{
        color: #f1c40f;
        text-transform: uppercase;
    }
    .span_underline{
        text-decoration: underline;
        text-decoration-color: #f1c40f;
    }
    .right{
        width: 40%;
        background: #ecf0f1;
        margin: 0em;
        display: flex;
        flex-direction: column;
    }
    
    figure{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .left_hobby{
    
        display: flex;
        flex-wrap: wrap;
    
    }
    .left_title{
        width: 100%;
        height: max-content;
        background: #555555;
        text-align: center;
    }
    h2{
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
    .left ul{
        list-style: none;
        margin-left: 1.25em;
        padding-left: 0.625em;
    }
    .left ul li:hover{
        text-shadow: 0 0 .2em #FFF59D;
        transition-delay: 0.1s;
    }
    
    .list_right{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .text_body{
        padding-right: 2em;
        margin-top: 0em;
        margin-bottom: 1.5em;
        
    }
    .right_content{
        width: auto;
        height: max-content;
        background: #ecf0f1;
        text-align: left;
    
    }
    header{
        background: #ecf0f1;
        text-align: left;
    }
    
    img{
        margin-bottom: 0.3em;
        margin-top: 0.3em;
        width: 9em;
        height: 9em;
        border-radius: 50%;
        box-shadow: 0 0 0.5em black;
    }
    .icon{
        color: #555555;
        margin-left: 1em;
        margin-bottom: 1em;
        font-size: 2em
    }
    .icon_skill{
        color: #f1c40f;
        font-size: 0.9em;
        padding-right: 1.3em;
    }
    .h5_date{
        width: 12em;
        margin-right: 2.5em;
        padding-right: 0em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .h4_title{
        margin-bottom: 0em;
        margin-top: 0em;
        margin-left: 0em;
        text-transform: uppercase;
    }
    h5{
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
    .dot_list{
        color: #f1c40f;
        font-size: 0.5em;
        padding-left: 0em;
        padding-top: 0.4em;
        padding-right: 0.6em;
    }
    .height_left_title{
        height: 10em;
    }
}
